
body{
box-sizing:border-box;
background-image: url("cloudspink.jpg");
background-repeat: repeat-x;
background-attachment: fixed;
background-size: 120% auto;
font-family: Garamond, Georgia, serif;
font-size:16px;
color: navy;
text-align: center;
}


.container1{  /*for the overall header and content, in column mode */
  display:flex;
  flex-direction:column;
  justify-content:center;
  flex-wrap:wrap;
  flex-shrink:100;
}

/* testing this one
.container1a{
  display:flex;
  flex-direction:row;
  justify-content:stretch;
  padding:0;
  background-color:palevioletred;
  gap:20px;
}
*/

/*
.container2 {
  position:absolute;
  top:70px;
  left:10px;
}
*/

/* testing new placement options
.container2{
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: space-between;
}
*/

.container3{  /*for the main flow of content */
  display: flex;
  flex-direction: column;
  flex-wrap:wrap;
  align-items:center;
  gap: 20px;
}

.gradient{ 
  /* from Josh W. Comeau's gradient generator:
   https://www.joshwcomeau.com/gradient-generator/  */

  background-image: linear-gradient(
    40deg,
    hsl(238deg 74% 58%) 0%,
    hsl(255deg 69% 59%) 24%,
    hsl(267deg 64% 59%) 39%,
    hsl(277deg 59% 59%) 52%,
    hsl(287deg 54% 60%) 62%,
    hsl(297deg 49% 62%) 71%,
    hsl(307deg 53% 66%) 79%,
    hsl(315deg 60% 70%) 86%,
    hsl(322deg 66% 75%) 91%,
    hsl(328deg 72% 79%) 95%,
    hsl(334deg 78% 83%) 98%,
    hsl(339deg 83% 86%) 100%,
    hsl(344deg 85% 90%) 100%
  );
  color: goldenrod;
}

.header-items {
  backdrop-filter:blur(10px);
  /* background-color: palevioletred;  */
  padding:0;
  position:relative;
  display: flex;
  border: 1px dotted palevioletred;
  top:10px;
  margin: 0 10px 16px;
}

.header-items li{
  list-style-type: none;
  display: inline-block;
  font-size:2em;
  font-family:Monospace;
  margin: 0;
  padding: 15px;
  opacity: 0.4;
  border: none;
}

.header-items li:first-child {
  margin-right:auto;
}

/* placeholder from header-items li 
display: inline-block;
  margin: 0;
  */


.header-items li:hover{
  opacity:1;
}

h1{
border: 5px ridge pink;
border-radius: 8px;
padding: 5px 10px;
font-variant: small-caps;
text-shadow: 0 0 20px navy;
max-width: fit-content;
margin: auto;
}

/* color choices: hot pink - 204, 0, 153
lighter pink - 255, 204, 238
*/

.post, .text{
width: 400px;
padding: 25px 50px;
font-size:16px;
background-color: rgba(255, 204, 238, 1);
border: 3px outset blue;
border-radius: 10px;
align-items: center;
min-width:300px;
}

.text p::first-letter{
  font-size: 1.5em;
}

.text{
  text-align:justify;
}

.corner{
  position:fixed;
  max-width: fit-content;
  max-height: fit-content;
  bottom: 10px;
  right: 10px;
  box-shadow: -2px 2px 12px grey;
  background-color: linen;
  color: green;
  font-family: courier;
  border: dotted 2px red;
  border-radius: 50px/20px;
  padding: 0;
  margin: 0;
  z-index: 5;
}

.footer{
  background-color: lightgray;
  color:black;
  opacity: 0.2;
  border-radius: 30px / 10px;
  max-width: fit-content;
  max-height: fit-content;
  align-self: center;
  justify-content:flex-end;
  padding: 0 12px;
  border: none;
}

.footer:hover{
  opacity: 0.8;
  transition:2s;
  background-image: linear-gradient(
    40deg,
    hsl(238deg 74% 58%) 0%,
    hsl(255deg 69% 59%) 24%,
    hsl(267deg 64% 59%) 39%,
    hsl(277deg 59% 59%) 52%,
    hsl(287deg 54% 60%) 62%,
    hsl(297deg 49% 62%) 71%,
    hsl(307deg 53% 66%) 79%,
    hsl(315deg 60% 70%) 86%,
    hsl(322deg 66% 75%) 91%,
    hsl(328deg 72% 79%) 95%,
    hsl(334deg 78% 83%) 98%,
    hsl(339deg 83% 86%) 100%,
    hsl(344deg 85% 90%) 100%
  );
}

ul{
text-align: left
}

li:hover{
  background-color: pink;
}

a:link{text-decoration: none; font-weight: bold;
  color: hotpink}
a:visited{text-decoration: none;
  color: hotpink}
a:hover{text-decoration: none; font-weight: bold; text-shadow: 0 0 8px gray;
  color: hotpink}

a.Christmas:link{color: green; text-decoration: none;}
a.Christmas:visited{color: green;}
a.Christmas:hover{color: red; font-weight: bold; font-family: "lucida handwriting", cursive;}


.nav li a{
  display:block;
  text-align: center;
  padding: 8px 5px;
}

.not-nav li a {
  display:inline;
  padding: 0;
}

/* old?
.nav{
  list-style-type:none;
  margin:20px 10px;
  padding:0;
  height: fit-content;
  align-self: stretch;
  justify-content: flex-start;
  background-color:linen;
}
*/

.newnav{
  position:absolute;
  background-color:lightblue;
  font: initial;
  color:navy;
  top:100%;
  right:0;
}


li a:hover{
  color: navy;
  text-shadow: none;
}

/* DROPDOWN EXPERIMENTS, IN PROGRESS!! */

.dropdown {
  position:relative;
}

.dropdown-content{
  display:none;
  position: absolute;
  list-style-type:none;
  margin:0;
  padding:0;
  border:none;
  max-width: 100px;
  box-shadow: 2px 2px 5px 0 gray;
  z-index:1;
  top:100%;
  right:0;
  box-sizing:border-box;
}

.dropdown:hover .dropdown-content{
  display:block;
}

@media (max-width: 700px) {
  .corner {
    display:none;
  }
}

/* DROPDOWN EXPERIMENTS, IN PROGRESS!! */


